.label { /* for form labels */
  font-weight: bold;
  padding: 1ex;
  width: 10em;
  display: inline-block;
  text-align: right;
}


.error { /* for error messages */
  color: red;
}

.search-term { /* for displaying search terms within results */
  color: green;
}

footer li { /* for displaying footer elements */
  list-style: none;
  display: inline;
}
footer li + li::before {
  content: " | ";
}

.fieldsWrapper {
  float: left;
  width: 100%;
  margin-left: 20px;
}

a.resultNodeLink {
  float: left;
  width: 100%;
}

span.resultLine {
  float: left;
  width: 100%;
  margin: 2px 20px;
}
